<header
  class="bg-black text-white p-4 flex md:justify-start justify-center items-center relative"
>
  <!-- Título -->
  <h1 class="text-2xl font-bold md:mr-auto">Tienda Deportiva</h1>

  <!-- Menu desplegable en pantallas pequeñas -->
  <nav class="block md:hidden ml-auto relative">
    <div class="relative">
      <button id="dropdownButton" class="text-white">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <!-- Menu desplegable -->
      <div
        id="dropdownMenu"
        class="absolute right-0 top-12 mt-2 w-48 bg-black text-white rounded shadow-lg hidden z-50"
      >
        <a href="./login" class="block px-4 py-2 text-red-500 hover:bg-gray-800"
          >Inicio de Sesión</a
        >
        <a href="./productos" class="block px-4 py-2 hover:bg-gray-800"
          >Productos</a
        >
      </div>
    </div>
  </nav>

  <!-- Menu de navegación en pantallas medianas y grandes -->
  <nav class="hidden md:flex space-x-4 ml-auto">
    <a href="./login" class="text-red-500">Inicio de Sesión</a>
    <a href="./productos" class="text-white">Productos</a>
  </nav>
</header>

<script>
  document
    .getElementById("dropdownButton")
    ?.addEventListener("click", function () {
      var menu = document.getElementById("dropdownMenu");
      menu?.classList.toggle("hidden");
    });
</script>
