<header
  class="top-0 left-0 w-full text-start text-white text-sm bg-black h-14 flex items-center px-4"
  style="font-family: 'Poppins', sans-serif; font-weight: 600;"
>
  <h1 class="text-xl">Tienda Electrónica</h1>
</header>
