<!-- Productos -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <!-- Producto -->
  <div class="bg-white p-4 rounded shadow">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ31Z7WS-O5BEXvRTfNWL1fwGQKmYYr4Jactg&s"
      alt="Camiseta"
      class="w-full h-auto"
    />
    <h3 class="text-lg font-semibold mt-4">Camiseta HOM Azul</h3>
    <p class="text-sm text-gray-500">Camiseta deportiva</p>
    <div class="flex items-center mt-2">
      <span class="text-green-500 text-sm ml-auto">En stock</span>
    </div>
    <div class="flex items-center mt-2">
      <span class="text-gray-900 text-xl font-bold">$15.000</span>
    </div>
    <div class="flex items-center justify-between mt-4">
      <button class="bg-gray-800 text-white py-2 px-4 rounded">+ Comprar</button
      >
      <button class="bg-gray-200 text-gray-800 py-2 px-4 rounded">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
        >
          <path
            d="M12 21l-3.5-3.5c-1.4-1.4-3.6-4.3-5-8.5-1-2.7-.9-6.3 1.6-8.5C7 2 9.3 1.5 11.6 3L12 3l.4-.1c2.3-1.5 4.6-1 6.5.4 2.4 2.2 2.6 5.8 1.6 8.5-1.4 4.2-3.6 7.1-5 8.5L12 21z"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Copia este bloque para añadir más productos -->
</div>
